@use "./variables" as *;

footer {
  background-color: $grey;
  padding: 2% 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 0;

  p {
    color: $white;
  }

  a {
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
    color: $white;
  }

  p,
  a {
    transition: 300ms;
    text-align: center;
  }

  a:hover,
  a:focus {
    color: $green;
  }
}

.sources {
  display: flex;

  p:nth-of-type(1)::after,
  p:nth-of-type(2)::after {
    content: "-";
    padding: 0 5px;
    color: $white;
  }
}