@use "./variables" as *;

// * {
//   border: 1px solid $red;
// }

header {
  background-image: url(../../../public/assets/viva-luna-studios-7s2ip7OVktg-unsplash-lighter.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-box,
.instructions-box {
  border: 4px solid black;
  border-radius: 5px;
  position: relative;
  padding: 3%;
  z-index: 10;
}

.title-box::before,
.instructions-box::before {
  content: " ";
  position: absolute;
  z-index: -10;
  top: -18px;
  left: -18px;
  right: -18px;
  bottom: -18px;
  border: 15px solid #ffffff;
  border-radius: 10px;
}

.title-box {
  margin: 14px 14px 5% 14px;
  background-color: $light-blue;
}

.daily-tarot {
  text-shadow: 5px 2px 5px $light-blue;
  align-self: center;
}

.instructions-box {
  background-color: $neutral;
  margin: 5% 14px 14px 14px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    padding: 5% 0;
  }
}

.arrow-box {
position: absolute;
font-size: 5rem;
  bottom: 5%;
  left: 47%;
}

.arrow-icon {
  font-size: 5rem;
  transition: 300ms;
  
  animation: fade 1.5s infinite ease-in-out;
    &:hover {
      scale: 0.8;
      color: white;
    }
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}


