@use "./variables" as *;

header {
  background-image: url(../../../public/assets/background-img-by-viva-luna-studios.jpg);
  background-size: cover;
  min-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 2% 0;
  margin-bottom: -15px;
  z-index: 30;
}

.title-box,
.instructions-box {
  border: 4px solid black;
  border-radius: 5px;
  position: relative;
  padding: 3%;
  margin: 5% 0;
  z-index: 10;
}

.title-box::before,
.instructions-box::before {
  content: " ";
  position: absolute;
  z-index: -10;
  top: -18px;
  left: -18px;
  right: -18px;
  bottom: -18px;
  border: 15px solid #ffffff;
  border-radius: 10px;
}

.title-box {
  background-color: $light-blue;
}

.daily-tarot-h1 {
  align-self: center;
}

.instructions-box {
  background-color: $neutral;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    padding: 5% 0;
  }
}