@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Yeseva+One&display=swap');

// Colours
$white: #fff;
$black: #161312;
$light-blue: #B0CAD7;
$red: #CC4839;
$green: #A1A064;
$yellow: #F8E56E;
$neutral: #E6E5E3;
$transparent: #00000000;

// Fonts Sizes
$fs-global: 62.5%;
$fs-4xl: 10rem;
$fs-3xl: 8rem;
$fs-2xl: 6rem;
$fs-xl: 5rem;
$fs-lrg: 3rem;
$fs-med: 2.2rem;
$fs-small: 1.8rem;
$fs-default: 1.6rem;

// Font Weights
$fw-default: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// Font Family
$ff-headings: 'Yeseva One', cursive;
$ff-body: 'Montserrat',
sans-serif;